/* normalize */
@import 'node_modules/normalize.css/normalize';

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');

@mixin fira {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

@mixin fira-bold {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

/* helpers */
.italic {
  font-style: italic !important;
}

.bold {
  font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}

/* color variables */
$pink: #f61253;

/* global settings & resets */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  outline: 0;
  cursor: pointer;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
