body {
  @include fira;
  background: #eee;
  color: #222;
  border-top: 5px solid $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px 15px 100px 15px;
}

.app-wrapper {
  width: 650px;
  max-width: 100%;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  button {
    font-size: 14px;
    color: $pink;
    text-transform: uppercase;
    @media (min-width: 576px) {
      font-size: 16px;
    }
  }
}

.search-artists {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #ddd;
    left: 0;
    bottom: 0;
  }
  @media (min-width: 576px) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    &:after {
      width: 100px;
      height: 6px;
    }
  }
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  @media (min-width: 576px) {
    font-size: 30px;
  }
}

.input-text {
  background: #fff;
  border: none;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  &:focus {
    outline: 0;
    border: 3px solid $pink;
  }
  @media (max-width: 575px) {
    margin-bottom: 10px;
  }
  @media (min-width: 576px) {
    width: calc(100% - 110px);
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    font-size: 16px;
  }
}

.button-big {
  background: $pink;
  color: #fff;
  @include fira-bold;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  @media (min-width: 576px) {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
}

.item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #ccc;
}

h2 {
  font-size: 14px;
  margin-bottom: 3px;
  @media (min-width: 576px) {
    font-size: 16px;
  }
}

p {
  color: #888;
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 1.4;
  @media (min-width: 576px) {
    font-size: 14px;
  }
}

.button-small {
  background: $pink;
  color: #fff;
  @include fira-bold;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  @media (min-width: 576px) {
    font-size: 12px;
  }
}

.footer {
  background: $pink;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
  @media (min-width: 576px) {
    font-size: 14px;
    padding: 15px;
  }
  a {
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
  }
}
